.drop-down-product {
    width: 180px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color:black;
    position: absolute;
    top: 20px;
    left: 180px;
}

.drop-down-product-option {
    background-color: white;
    Color:rgb(0, 0, 0);
    font-weight: bold;
}